:root {
    --pink: #e84393;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05);
}

.heading span {
    color: var(--pink);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: var(--pink);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 2px 0px 5px;
}

header .logo {
    font-size: 30px;
    color: var(--pink);
    font-weight: bolder;
}

header .navbar a {
    font-size: 2rem;
    padding: 0 2.0rem;
    color: #666;
}

header .navbar a:hover {
    color: #e84393;
}

header .icons a {
    font-size: 20px;
    color: #333;
    margin-left: 2rem;
}

header .icons a:hover {
    color: var(--pink);
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}

/*---- media queries -------*/
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #eee;
        border-top: 1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked+.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

/*--------------------------- home section  -----------------*/

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(tulip.jpg) no-repeat center center/cover;
}

.home .content {
    max-width: 50rem;
}

.home .content h3 {
    font-size: 6rem;
    color: #333;
}

.home .content span {
    font-size: 3.5rem;
    color: purple;
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p {
    font-size: 1.5rem;
    color: goldenrod;
    padding: 1rem 0;
    line-height: 1.5;
    text-align: center;
}

/*------------------About us------------------------------*/
.about .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .img-container {
    flex: 1 1 40rem;
    position: relative;
    max-width: 100%;
}

.about .row .img-container img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #333;
}

.about .row .content p {
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
}

/*-------------------icons -----------------------*/

.icons-container {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons {
    background: #fff;
    border: .6rem solid rgba(0, 0, 0, .1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
    border-radius: 1rem;
}

.icons-container .icons img {
    height: 5rem;
    margin-right: 2rem;
}

.icons-container .icons h3 {
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.icons-container .icons span {
    color: #999;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

/*---------------------------products-----------------------------------*/
.products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: 1rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
    overflow: hidden;
    background: #fff;
}

.products .box-container .box .discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .7rem 1rem;
    background: var(--pink);
    color: #fff;
    font-size: 1.5rem;
    border-radius: .5rem;
}

.products .box-container .box .image {
    width: 100%;
    height: 20rem;
    overflow: hidden;
}

.products .box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: .1rem solid rgba(0, 0, 0, .1);
}

.products .box-container .box .icons {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background: #f9f9f9;
}

.products .box-container .box .icons a {
    color: var(--pink);
    font-size: 2rem;
    transition: color .2s;
}

.products .box-container .box .icons a:hover {
    color: #333;
}

.products .box-container .box .content {
    padding: 1.5rem;
    text-align: center;
}

.products .box-container .box .content h3 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.products .box-container .box .content .price {
    font-size: 2rem;
    color: #333;
}

.products .box-container .box .content .price span {
    text-decoration: line-through;
    color: #999;
    margin-left: 1rem;
}

/*----------------------contact-------------------------------*/



#contact {
    background: #f4f2ed;
    margin: 0 auto;
}

#contact .container {
    max-width: 900px;
}

#contact .contact-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/*----------------------------------footer---------------------*/
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-section {
    margin: 10px 0;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section p, 
.footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul.social-media {
    display: flex;
    gap: 10px;
    position: relative;
    left: 120px;
}

.footer-section ul.social-media li {
    margin: 0;
}

.footer-section ul.social-media li a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}

@media (min-width: 600px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-section {
        flex: 1;
        padding: 10px;
    }
}





#contact .contact-info {
    width: 50%;
}

#contact .contact-info div {
    margin: 30px 0;
    line-height: 1.7;
}

#contact .contact-info h3 {
    font-size: 28px;
    color: #383848;
    margin-bottom: 10px;
}

#contact .contact-info p {
    color: #9a9a9a;
}

#contact .contact-info p i {
    color: #e4b95b;
    margin-right: 5px;
}

#contact .contact-info a i {
    color: #fff;
    background: #383848;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
}

#contact .contact-info a i:hover {
    background-color: #e4b95b;
    color: #383848;
}

form {
      width: 50%;
}

form input,
textarea {
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0;
    border: none;
    background-color: #e3e2dd;
}

form input:focus,
textarea:focus {
    outline: none;
}

form button {
    color: #fff;
}